.page-container.container
  = yield
  %h1 Home#index
  %p Find me in app/views/home/index.html.haml
  = link_to "Posts", posts_path
  = link_to 'Categories', categories_path
  - Category.all.each do |category|
    %li= link_to category.name, posts_path(category: category)
  - if user_signed_in?
    = current_user.email
    = link_to 'Sign out', destroy_user_session_path, method: :delete
  - else
    = link_to 'Sign in', new_user_session_path
    = link_to 'Sign up', new_user_registration_path

